{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">

		<div class="row">
		    <div class="col-md-12">
			    <div class="breadcrumbs">
				    <ul class="breadcrumb shadow p-3 mb-5 bg-white rounded">
                        <li><a href="/">Главная</a> <span class="divider"></span></li>
                        <li class="active">Контакты</li>
                    </ul>
				</div>
			</div>
		</div>

		<div class="row">
		    <div class="col-md-12">
				<h2>Наше местоположение</h2>
			</div>
		</div>
        <div class="row">
		    <div class="col-md-12">
			    <div id="map">
                    {{MAP_YANDEX_CODE|safe}}
                </div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h2>Обратная связь</h2>
			</div>
				<div class="col-md-6">
					<div class="contact_form shadow p-3 mb-5 bg-white rounded">
						<form>
							<fieldset class="form-group">
								<input type="hidden" id="csrf" value="{{ csrf_token }}">
								<label>Имя<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="nameForm">
								<label>Email<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="emailForm">
								<label>Телефон<span class="required">*</span></label>
								<input type="text" placeholder="" class="form-control" id="phoneForm">
							</fieldset>
						</form>
						<div class="form-group">
							<label>Сообщение<span class="required">*</span></label>
							<textarea rows="3" class="form-control" id="messageForm"></textarea>
						</div>
						<p class="form-group">
							<button class="btn btn-primary" type="button" onclick="askQuestion();">Отправить</button>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="location breadcrumb shadow p-3 mb-5 bg-white rounded">
						<address>
						  <strong>{{BUISNESS_COMPANY_NAME}}</strong><br>
							{{BUISNESS_ADDRESS}}<br>
						</address>

						<address>
						  <strong>{{BUISNESS_HOST_NAME}}</strong><br>
						  <a href="email:#">{{BUISNESS_EMAIL}}</a><br>
							{{BUISNESS_PHONE}}
						</address>
					</div>
				</div>
			</div>


	</div>

{% endblock content %}
{% block js %}
{{block.super}}
<script type="text/javascript" src="{% static 'js/contacts.js' %}"></script>
{% endblock js %}